.body{
    background-color: aqua;
    background-size: cover;
    height:cover;
    display: grid;
    grid-template-columns: auto auto;

}
.box{
    
}
.h1{
    color: rgb(210, 17, 17);
    text-align:center;

}


.starting{
    height:400px;
    width: 450px;
    background-color:rgb(218, 217, 217);
    border-radius:20px;
    margin: 40px;
    padding: 30px;

    
    
}
.middle{
    color: rgb(0, 72, 1);

}
.image1{
    height:200px;
    display: flex;
    align-items: center;
    border-radius: 8px;

    
}
.button{
    background-color: black;
    color: aqua;
    border-radius:5px;
    height: 30px;
    width: 200px;
    font-weight: bold;

}